 html,body{
      margin:0;
      padding:0;
   }
   form {
	 /*border: 3px solid #f1f1f1;*/
	}
	body {
       font-family: Tahoma, Geneva, sans-serif;
	   background-color: #dbe5f3;
      /*background-color: yellow;*/
    }
	#myForm{
	   width:95%;
	}
	.header{
	   width:100%;
	   min-height:50px;
	   padding-top:10px;
	   padding-bottom:5px;
	   background: #33829a;
	   color:#ffffff;
	   position:fixed;
	   background-repeat:no-repeat;
	   top:0px;
	   z-index:1;
	}
	.container {
	  max-width: 1024px;
      margin: 0 auto;
      padding-top: 35px;
	  border-left: 1px solid #dcdada;
      border-right: 1px solid #dcdada;
      padding-left: 60px;
      padding-right: 16px;
	  min-height:600px;
	  background-color:#ffffff;
    }
	
	input[id=jmeterId],input[id=scriptId],input[id=rptCodeId],input[id=jenkinid]{
       padding: 8px;
       margin-top: 7px;
	   margin-bottom: 15px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
    }
	
	input[id=jbranchid],input[id=sbranchid],input[id=rbranchid]{
       padding: 8px;
       margin-top: 7px;
	   margin-bottom: 15px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
    }
	
	input[id=memoryid]{
       padding: 8px;
       margin-top: 7px;
	   margin-bottom: 15px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
	   /*width: 30%; -->
	    background: #f1f1f1;*/
    }
	
	input[class=node],input[class=scriptone]{
       padding: 8px;
       margin: 7px 6px 15px 9px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
	   /*width: 16%;
		background: #f1f1f1;*/
    }
	.submit-button{
       width: 10%;
       padding: 10px;
       margin: 5px 5px 15px 7px;
       display: inline-block;
       border: none;
       background: #33829a;
	   color:#ffffff;
	   cursor:pointer;
       border-radius: 5px;
    }
	.clear{
       width: 10%;
       padding: 10px;
       margin: 5px 5px 15px 7px;
       display: inline-block;
       border: none;
       background: #33829a;
	   color:#ffffff;
	   cursor:pointer;
       border-radius: 5px;
    }
	h1{
	   margin:0;
	}
	
	hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 10px;
    }
	
    label::after{ 
     content: "*";
     color: red;
    }
	
   .one{
     float:left;
    }
	
    .two{
      float:right;
    }
	
  input[name=scheduler]{
       padding: 8px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
	   margin-left:36px;
	   margin-bottom:20px;
	   /*background: #f1f1f1;
	   width: 30%;*/
  }
  input[name=yaml]{
       padding: 8px;
       display: inline-block;
       border: 1px solid #b9b3b3b3;
       border-radius: 5px;
	   margin-left:30px;
	   margin-bottom:20px;
	   /*background: #f1f1f1;
	   width: 30%;*/
  }
  .submit{
     display:block;
     clear:both;
     text-align: center;
	 border-top: 1px solid #cecece;
     padding-top: 15px;
  }
  
 .form-heading {
	text-align: center;
    margin-top: 65px;
    background-color: #d0d0d0;
    padding: 1px;
    color: #171717;
	p{
	   padding: 10px;
       margin: 0;
	}
 }
  .form_container{
      min-height:410px;
  }
 
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  {
	.one,.two{
	  float:none !important;
	}
	.form_container{
	  margin-bottom:30px;
	}
}

.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #33829a;
    text-align: right;
	padding:12px;
}